page-feedback-form {
.feedback-btn{
    margin-top: 10%;
}
.select-lang-back{
    background: url(../assets/imgs/language/lang-back.png) no-repeat center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.footer-img-back{
    height: 23%;
}
.feedback-back-sec{
    background: #f3f3f3;
}
.feedback-subheader{
    font-size: 25px;
    font-weight: bold;
    /* text-transform: capitalize; */
    margin: 0px;
    padding: 0px 0px 0px 0px;
    color: #333332;
}
ion-item{
    background: transparent !important;
    padding-left: 0px !important;
    ion-label{
        color: #2d2d2d !important;
        font-weight: bold;
    }
    .item-block > .ion-item{
        border-bottom: 1px solid #c5c5c5;
    }
}
.item.item-block .item-inner{
    border-bottom: 1px solid #c5c5c5;
}
.content-ios > .scroll-content > .lang-content-sec{
    padding-top: 20px !important;
}
}
