@model GMOPaymentGatway.Models.PaymentGatwayModels.GMOPaymentResponse

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var parameters = @Html.Raw(Json.Encode(Model));
        $("#UniqueReference").val(parameters.UniqueReference);
        var urlData = JSON.stringify(
            {
                "ShopID": parameters["ShopID"],
                "Amount" : parameters["Amount"],
                "Tax" : parameters["Tax"],
                "Currency" : parameters["Currency"],
                "AccessID" : parameters["AccessID"],
                "AccessPass" : parameters["AccessPass"],
                "OrderID" : parameters["OrderID"],
                "Forwarded" : parameters["Forwarded"],
                "Method": parameters["Method"],
                "PayTimes": parameters["PayTimes"],
                "Approve" : parameters["Approve"],
                "TranID": parameters["TranID"],
                "TranDate" : parameters["TranDate"],
                "CheckString" : parameters["CheckString"],
                "PayType" : parameters["PayType"],
                "CardNo" : parameters["CardNo"]

            });

        $.ajax({
            url: "https://pt01.mul-pay.jp/payment/" + parameters.TranID,
            type: 'GET',
            success: function (res) {
                $("#MID").val(res.MID);
                $("#TXNID").val(res.TXNID);
                $("#BANKTXNID").val(res.BANKTXNID);
                $("#TXNAMOUNT").val(res.TXNAMOUNT);

                $("#ORDERID").val(res.ORDERID);
                $("#STATUS").val(res.STATUS);
                $("#RESPCODE").val(res.RESPCODE);
                $("#RESPMSG").val(res.RESPMSG);
                $("#TXNDATE").val(res.TXNDATE);
                $("#GATEWAYNAME").val(res.GATEWAYNAME);
                $("#BANKNAME").val(res.BANKNAME);
                $("#PAYMENTMODE").val(res.PAYMENTMODE);

                $("#PROMO_CAMP_ID").val();
                $("#PROMO_STATUS").val();
                $("#PROMO_RESPCODE").val();
                $("#CHECKSUMHASH").val();
                document.getElementById("signInForm").submit();

            }
        });

    });


</script>



<form action="AfterCheckResponse" method="POST" id="signInForm">
    <input type="hidden" name="MID" value="" id="MID" />
    <input type="hidden" name="TXNID" value="" id="TXNID" />
    <input type="hidden" name="BANKTXNID" value="" id="BANKTXNID" />
    <input type="hidden" name="TXNAMOUNT" value="" id="TXNAMOUNT" />
    <input type="hidden" name="CURRENCY" value="" id="CURRENCY" />

    <input type="hidden" name="ORDERID" value="" id="ORDERID" />
    <input type="hidden" name="STATUS" value="" id="STATUS" />
    <input type="hidden" name="RESPCODE" value="" id="RESPCODE" />
    <input type="hidden" name="RESPMSG" value="" id="RESPMSG" />

    <input type="hidden" name="TXNDATE" value="" id="TXNDATE" />
    <input type="hidden" name="GATEWAYNAME" value="" id="GATEWAYNAME" />
    <input type="hidden" name="BANKNAME" value="" id="BANKNAME" />
    <input type="hidden" name="PAYMENTMODE" value="" id="PAYMENTMODE" />

    <input type="hidden" name="PROMO_CAMP_ID" value="" id="PROMO_CAMP_ID" />
    <input type="hidden" name="PROMO_STATUS" value="" id="PROMO_STATUS" />
    <input type="hidden" name="PROMO_RESPCODE" value="" id="PROMO_RESPCODE" />
    <input type="hidden" name="CHECKSUMHASH" value="" id="CHECKSUMHASH" />
    <input type="hidden" name="UniqueReference" value="" id="UniqueReference" />
    <input type="submit" value="Sign in" style="visibility:hidden;"/>
</form>
